/*Global */
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;  
  color: #404040;
  font-size:1.6rem;
  line-height:1.4;
}

html{
  font-size:62.5%
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

p {
  font-size: 1.9rem;
}

h2{
  font-weight: 400;
  font-size:3.5rem;
}

botao{
  font-size:2.4rem;
  font-weight: 700;
  text-decoration: none;
}
strong{
  font-weight:600;
}

.realce-semibold{
  font-weight: 600;
}


/* Cabeçalho*/

.item-lista-cabecalho a{
  color:#112e61;
  font-size:1.4rem;
  text-transform: uppercase;
  text-decoration:none;
  font-weight: 600;

}

nav ul{
  text-decoration: none;

}

.item-lista-cabecalho a:hover,
.item-lista-cabecalho a:active{
 color: #f60;
}

.cabecalho{
  padding:1.6rem 3.12rem;
  box-shadow: 0 0.21rem 0.4rem rgba(0,0,0,0.1)
}

/* Seção Hero*/

.hero-pagrafo{
  font-size:1.9rem;
}



/* Conteúdos gratuitos*/

.gratuito-realce{
  color: #7a40be;
  font-weight: 600;
}

.gratuito-h3{
  font-size:2.3;
  font-weight: 700;
}

.gratuio-item-lista,
.gratuito-link-lista{
  font-size:1.9rem;
  text-decoration: none;
}

/* Seção diferenciais*/

.diferenciais-p {
  font-size: 1.9rem;
}

.diferenciais-h3{
  color:#005e88;
  font-size:2.4rem;
  font-weight: 600;
}

.diferenciais-h3-empresas a {
  color:#005e88;
  font-weight: 700;
  text-decoration:none;
}

/* Seção o que falam*/

/* Seção blog */
.blog-postadoem{
  font-size:1.5rem;
}

.blog-postadoem{
  font-weight: 600;
  color: #f7a70c;
  text-decoration:none;
}

.blog-titulopost{
  font-size:2.4rem;
  font-weight: 600;
  text-decoration:none;
}

.blog-descricaopost{
  font-size:1.7rem;
}
/* Seção como ajudar */
.comoajudar-realce,
.comoajudar-paragrafo
{
font-size:1.9rem;
}

.comoajudar-lista a,
.comoajudar-paragrafo a{
  color:#005e88;
  font-weight: 600;
}

.comoajudar-paragrafo p{
  font-weigh:600;
}

/* Seção rodapé */
.rodape-titulo{
  font-weight: 600;
  font-size:2.2rem;
}

.rodape-subtitulo{
  font-size:2.0rem;
  font-weight: 500;
}

.rodape-seg-subtitulo{
  font-weight: 500;
  font-size:1.8rem;
}
.rodape-link{
  color:#1a77a4
}
